footer {
  border-top: 2px solid var(--dile-secondary-color);
  padding-top: 0.15rem;
  padding-bottom: 0.75rem;
  background-color: #f5f5f5;
}
footer .mainfooter {
  font-size: 1rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 2rem;
  font-size: 1.1rem;
}
.footer b, .footer a {
  color: #303030;
}
.footer ul {
  margin: 0.25rem 0 1rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
.footer li {
  display: inline-block;
  margin: 0 0 0.25rem;
  padding: 0;
  list-style-type: none;
}
@media(min-width: 500px) {
  footer {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  footer section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .footer ul {
    padding: 0;
    margin: 0;
  }
}

