import { LitElement, html, css } from 'lit';
import { DileForm } from '@dile/ui/mixins/form';

{{> form-fields-imports}}

export class {{className}} extends DileForm(LitElement) {
  static styles = [
    css`
      :host {
        display: block;
      }
    `
  ];

  render() {
    return html`
      <p>Action name:</p>

{{> form-fields-markup}}
    `;
  }
}
customElements.define('{{tagName}}', {{className}});
