import { LitElement, html, css } from 'lit';
import { DileForm } from '@dile/ui/mixins/form'
{{#if input}}
import '@dile/ui/components/input/input.js';
{{/if}}
{{#if checkbox}}
import '@dile/ui/components/checkbox/checkbox.js';
{{/if}}
{{#if select}}
import '@dile/ui/components/select/select.js';
{{/if}}
{{#if radio}}
import '@dile/ui/components/radio-group/radio-group.js';
{{/if}}
{{#if textarea}}
import '@dile/ui/components/textarea/textarea.js';
{{/if}}

export class {{pascalCase name}} extends DileForm(LitElement) {
  static styles = [
    css`
      :host {
        display: block;
      }
    `
  ];

  render() {
    return html`
      Component {{kebabCase name}}
{{#if input}}
      <dile-input label="Input" name="input" id="input" hideErrorOnInput></dile-input>
{{/if}}
{{#if checkbox}}
      <dile-checkbox name="checkbox" id="checkbox">Checkbox element</dile-checkbox>
{{/if}}
{{#if select}}
      <dile-select name="select" id="select" label="Select">
        <select slot="select">
          <option value="-">-</option>
        </select>
      </dile-select>
{{/if}}
{{#if radio}}
      <dile-radio-group name="radio" id="radio" label="radio">
        <dile-radio label="Yes" value="yes"></dile-radio>
        <dile-radio label="Not" value="not"></dile-radio>
      </dile-radio-group>
{{/if}}
{{#if textarea}}
      <dile-textarea name="textarea" id="textarea" label="Textarea" max-rows="5" rows="2"></dile-textarea>
{{/if}}
    `;
  }
}
customElements.define('{{kebabCase name}}', {{pascalCase name}});
