import { LitElement, html, css } from 'lit';

export class {{pascalCase name}} extends LitElement {
  static styles = [
    css`
      :host {
        display: block;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 300;
      }
    `
  ];

  static get properties() {
    return {
      item: { type: Object }
    };
  }

  render() {
    return html`
      <h2>Detail item</h2>
      ${JSON.stringify(this.item)}
    `;
  }
}
customElements.define('{{kebabCase name}}', {{pascalCase name}});
